<div class="message-container">
  <div class="message-user">
    <%= image_tag message.user.avatar.url(:smallerthumb), class: "message-avatar" %>
  </div>
  <div class="message">
    <div class="message-user">
      <% if current_user == message.user%>
        <%= message.content %>
        <b><%= message.user.username %></b>
        <%=link_to "Edit", '#', id: "edit-msg" %>
        <%=link_to "Delete", chat_room_message_path(params[:id]), :method => :delete%>
      <%else%>
        <b><%= message.user.username %></b>
        <%= message.content %>
      <%end%>
    <div class="message-content black-border-text">
      <%= message.content %>
    </div>
  </div>
</div>

<%= javascript_include_tag "edit_message.js" %>
