<div class="chat-dashboard-container">
  <div class="chatroom-container primary-column">
    <div class="page-label white-border-text" id="active-chatroom-header">
      <%= @chat_room.name %>
    </div>
    <div class="active-chatroom" id="messages" data-chat-room-id="<%= @chat_room.id %>">
      <%= render 'messages/messages' %>
    </div>
    <%= render 'message_form' %>
  </div>

  <div class="active-chat-sidebar secondary-column">
    <div class="dummy-div"> </div>
    <%= render partial: "chat", collection: @chat_rooms, as: :chat %>
  </div>

  <div class="tertiary-column active-chat-sidebar">
    <div class="page-label black-border-text" id="active-users-label">
      Users in this chat
    </div>
    <div class="user-list-container">
      <%= render partial: "participating_users", collection: @participating_users, as: :user %>
    </div>
  </div>
</div>
