<br>
<%= @chat_room.name %>
<br>
<div>
  <%= render 'messages/messages' %>
  <%= render 'message_form' %>

<%= form_tag leave_chat_path(@chat_room), method: 'delete' do %>
  <div class="action">
    <%= submit_tag "Leave this chat" %>
  </div>
<% end %>
