<div class="row profile-summary profile-preview">
  <div class="col-md-2">
    <%= image_tag User.find(player_profile.user_id).avatar.url(:thumb) %>
  </div>
  <div class="col-md-3 profile-excerpt">
              <div class="username-preview"><%= User.find(player_profile.user_id).username %></div>
              Age: <%= User.find(profile.user_id).age %><br>
              <%= translate_experience_level(player_profile.experience_level) %>
  </div>
  <div class="col-md-3 profile-excerpt">
    <p>
      <strong>Plays:</strong><br>
      <%= ruleset_preview(player_profile) %>
    </p>
  </div>
  <div class="button-container col-md-2">
    <%= button_to "More info", player_profile, class: "show-more-button profile-button" %>
  </div>
  <div class="button-container col-md-2">
    <%= button_to "Contact me!", "#", class: "contact-me-button-small profile-button" %>
  </div>
</div>
