<div class="parchment-background">
<br><br>
<div class="page-label">New Search</div>
<br>
<%= form_tag(search_pages_results_path, method: "get", id: "search-form", remote: true) do %>
<div class="search-param">Profile Type (Default Search is for Players)</div>
<%= select_tag :profile_type, options_for_select([["Players", 0], ["DM's", 1]]) %>
<br><br><br>
<div class="search-param">Search Preferences</div>
<%= label_tag(:option_all, "Search for ALL the listed options") %>
<%= radio_button_tag(:option, "AND", true) %>
<br>
<%= label_tag(:option_or, "Search for ANY of the listed options") %>
<%= radio_button_tag(:option, "OR") %>
<br><br><br>
<div class="search-param">Exp Level</div>
<%= select_tag :experience_level, options_for_select([["No preference", 0],
  ['Beginner (0-1 years of play)', 1], ['Novice (1-2 years of play)', 2],
  ['Experienced (2-5 years of play)', 3], ['Veteran (More than 5 years of play)', 4]]) %>
  <br><br><br>
  <div class="search-param">Preferred Rulesets</div>
  <%=label_tag :home, "Homebrew" %>
  <%=check_box_tag :homebrew, 1 %>
  <br>
  <%=label_tag :original, "Original Ruleset" %>
  <%=check_box_tag :original_ruleset, 2 %>
  <br>
  <%=label_tag :advanced, "Advanced Ruleset" %>
  <%=check_box_tag :advanced_ruleset, 3 %>
  <br>
  <%=label_tag :path, "Pathfinder" %>
  <%=check_box_tag :pathfinder, 4 %>
  <br>
  <%=label_tag :th, "Third" %>
  <%=check_box_tag :third, 5 %>
  <br>
  <%=label_tag :t_five, "Three-Point-Five" %>
  <%=check_box_tag :three_point_five, 6 %>
  <br>
  <%=label_tag :frth, "Fourth" %>
  <%=check_box_tag :fourth, 7 %>
  <br>
  <%=label_tag :ffth, "Fifth" %>
  <%=check_box_tag :fifth, 8 %>
  <br><br><br>
  <div class="search-param">Prefer Online Play?</div>
  <%= select_tag :online_play, options_for_select([["Yes", 1], ["No", 0]]), prompt: "Select an Option" %>
  <br><br><br>
  <div class="search-param">Campaign Type</div>
  <%= select_tag :campaign_type, options_for_select([["No preference", 2], ["Original Campaign", 0],
  ["Module", 1]]) %>
<% end %>

<br><br><br><br>
<div id="result"><%= render 'results' %></div>
<br>
</div>
