<div class="parchment-background">
  <div class="search-results-mod">
    <div class="page-label black-border-text" id="search-label">Search</div>
    <%= form_tag(search_pages_results_path, method: "get", class: "search-form") do %>
      <div class="row search-row">
        <div class="col-md-4" id="profile-type">
          <div class="search-param">Profile Type</div>
          <div class="dropdown">
            <%= select_tag :profile_type, options_for_select([["Players", 0], ["DM's", 1]]) %>
          </div>
        </div>
        <div class="col-md-4" id="any-all-results">
          <div class="search-param" id="search-pref">Search Preferences</div>
          <div class="radio-buttons-container-results">
            <%= radio_button_tag(:option, "AND", true) %>
            <%= label_tag(:option_all, "Search for ALL the listed options", class: "radio-button-label")  %>
            <br>
            <%= radio_button_tag(:option, "OR") %>
            <%= label_tag(:option_or, "Search for ANY of the listed options", class: "radio-button-label") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-param">Exp Level</div>
          <div class="dropdown">
            <%= select_tag :experience_level, options_for_select([["No preference", 0],
              ['Beginner (0-1 years of play)', 1], ['Novice (1-2 years of play)', 2],
              ['Experienced (2-5 years of play)', 3], ['Veteran (More than 5 years of play)', 4]]) %>
          </div>
        </div>
      </div>
      <div class="row search-row">
        <div class="col-md-5" id="ruleset-picker">
          <div class="search-param" id="ruleset">Preferred Rulesets</div>
          <div class="checkboxes-container-results">
            <div class="row">
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :original_ruleset, 2 %>
                <%=label_tag :original, "First Edition" %>
              </div>
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :advanced_ruleset, 3 %>
                <%=label_tag :advanced, "Second Edition" %>
              </div>
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :third, 5 %>
                <%=label_tag :th, "Third Edition" %>
              </div>
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :three_point_five, 6 %>
                <%=label_tag :t_five, "3.5 Edition" %>
              </div>
            </div>
            <div class="row">
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :pathfinder, 4 %>
                <%=label_tag :path, "Pathfinder" %>
              </div>
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :fourth, 7 %>
                <%=label_tag :frth, "Fourth Edition" %>
              </div>
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :fifth, 8 %>
                <%=label_tag :ffth, "Fifth Edition" %>
              </div>
              <div class="ruleset-checkbox col-md-3">
                <%=check_box_tag :homebrew, 1 %>
                <%=label_tag :home, "Homebrew" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="online-play-results">
          <div class="search-param">Prefer Online Play?</div>
          <div class="dropdown">
            <%= select_tag :online_play, options_for_select([["Yes", 1], ["No", 0]]), prompt: "Select an Option" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-param">Campaign Type</div>
          <div class="dropdown">
            <%= select_tag :campaign_type, options_for_select([["No preference", 2], ["Original Campaign", 0],
            ["Module", 1]]) %>
          </div>
        </div>
      </div>
      <%= submit_tag "Search", class: "profile-button signup-login-submit", id: "search-submit-results" %>
    <% end %>
  </div>

  <div id="result"><%= render 'results' %></div>

</div
