<h1>Search Page</h1>
<p>Insert your search parameters for players here:</p>

<%= form_tag("/search_pages/results", method: "get") do %>
  <strong>Exp Level</strong>
    <br>
    <%= text_field_tag(:exp_level) %>
    <!-- Below is how I want to represent EXP levels. That would require a database reset, though... -->
    <%#= select_tag :exp_level, options_for_select([['< 1 year', 0],
      ['1 year', 1], ['2 years', 2], ['3 years', 3], ['4 years', 4], ['5 years', 5],
      ['5+ years', 6]]) %>
      <br><br><br>
      <strong>Ruleset</strong>
      <br>
      <%= select_tag :ruleset, options_for_select([['Ruleset 1', 1],
      ['Ruleset 2', :ruleset2], ['Ruleset 3', :ruleset3], ['Ruleset 4', :ruleset4]]) %>
    	<br><br><br>
  	<strong>Distance from Current Location</strong>
    <br>
    <%= select_tag :location, options_for_select([['< 5 miles', 0],
    ['5 - 10 miles', 1], ['10 - 20 miles', 2], ['20 -50 miles', 3],
    ['50+ miles', 4]]) %>
  	<br><br><br>
  <%= submit_tag("Search") %>
<% end %>
