<h1>Search Page</h1>
<p>Enter your preferences here:</p>

<%= form_tag(search_pages_results_path, method: "get") do %>
  <strong>Exp Level</strong>
    <br>
    <%= select_tag :experience_level, options_for_select([['< 1 year', 0],
      ['1 year', 1], ['2 years', 2], ['3 years', 3], ['4 years', 4], ['5 years', 5],
      ['5+ years', 6]]) %>
      <br><br><br>
      <strong>Preferred Ruleset 1</strong>
      <br>
      <%= select_tag :ruleset1, options_for_select([["Home Brew", 1], ["Original", 2],
      ["Advanced", 3], ["Path Finder", 4], ["Third", 5], ["Three-point-Five", 6],
      ["Fourth", 7], ["Fifth", 8], ["Original Campaign", 9]]) %>
    	<br><br><br>
    <strong>Prefer Online Play?</strong>
    <br>
    <%= select_tag :online_play, options_for_select([["Yes", 1], ["No", 0]]) %>
    <br><br><br>
    <strong>Profile Type</strong>
    <br>
    <!--I'll get to the option of you being able to select both Players and DM's in a bit. Cameron C. -->
    <%= select_tag :profile_type, options_for_select([["Players", 0], ["DM's", 1]]) %>
    <br><br><br>
    <strong>Module Use?</strong>
    <br>
    <%= select_tag :module, options_for_select([["Yes", 1], ["No", 0]]) %>
    <br><br><br>
  <%= submit_tag "Search", name: nil %>
<% end %>
<br><br>
<%= link_to "Return to User List", users_path %>
