<% if @user.new_record?
  @url = users_path
  @method = 'post'
else
  @url = user_path
  @method = 'patch'
end %>
<%= form_for(:user, url: @url, method: @method, html: { multipart: true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <!--<div class="field">
    <%= f.label :password_digest %>
    <%= f.text_field :password_digest %>
  </div>-->
  <div class = "field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class = "field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <%if @user.new_record? %>
    <div class="field">
      I want to start as a:<br>
      <input type="radio"  id="player_yes" name="player" value="yes" /> Player<br>
      <input type="radio"  id="player_no" name="player" value="no" /> DM<br>
    <br>
    <div class="field">
      Are you familiar with D&D?<br>
      <input type="radio"  id="tutorial_yes" name="help" value="yes" /> I'm new to D&D<br>
      <input type="radio"  id="tutorial_no" name="help" value="no" /> I'm familiar with D&D<br>
    </div>
  <% end %>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
