<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password_digest %>
    <%= f.text_field :password_digest %>
  </div>

  <div class="field">
    <%= f.label :profile_pic_path %>
    <%= f.text_field :profile_pic_path %>
  </div>

  <div class="field">
    <%= f.label :player_profile_id %>
    <%= f.number_field :player_profile_id %>
  </div>

  <div class="field">
    <%= f.label :dm_profile_id %>
    <%= f.number_field :dm_profile_id %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :last_active %>
    <%= f.datetime_select :last_active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
