<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!--<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Max Distance:</strong>
  <%= @user.max_distance %>
</p>

<p>
  <strong>Profile pic path:</strong>
  <%= @user.profile_pic_path %>
</p>-->

<!--If the user has a player profile-->
<% if !@user.player_profile.nil? %>
<p>
  <%= link_to "View Player Profile", user_player_profiles_path(@user) %>
</p>
<% else %>
  <p>It seems you don't have a player profile.<br><br>
    <%= link_to "Create a Player Profile",  new_user_player_profiles_path(@user) %>
  </p>
<% end %>

<% if !@user.dm_profile.nil? %>
<p>
  <%= link_to "View DM Profile", user_dm_profiles_path(@user) %>
</p>
<% else %>
  <p>It seems you don't have a DM profile.<br><br>
  <%= link_to "Create a DM Profile",  new_user_dm_profiles_path(@user) %>
  </p>
<% end %>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<!--<p>
  <strong>Last active:</strong>
  <%= @user.last_active %>
</p>-->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
