<div id="notice"><%=notice%></div>
<%= image_tag @user.avatar.url(:medium)%>
<p><%= @user.username %><p>


<p>New Recommendations<p>
  <div class="container-fluid">
    <% if @similar_profiles.count > 0 %>
      <% @similar_profiles.each do |s| %>
        <% if !s.nil? %>
          <%= render s %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<p>Contact Requests</p>


<p>Conversations</p>
<% @conversations.each do |chat| %>
  <%=link_to chat.name, chat_room_path(chat.id)%>
<% end %>
