<div id="notice"><%= notice %></div>
<div class="dashboard-container">
  <div class="sidebar-column">
    <%= image_tag @user.avatar.url(:medium), class: "dashboard-avatar", id: "user-avatar" %>
    <div class="page-label" id="username-label">
      <%= @user.username %>
    </div>
    <div class="dm-profile-container">
      <% unless @dm_profile.nil? %>
        <%= link_to user_dm_profiles_path(@user) do %>
          <div class="profile-button signup-login-submit">
            View my DM Profile
          </div>
        <% end %>
        <%= link_to edit_user_dm_profiles_path(@user, @dm_profile) do %>
          <div class="profile-button signup-login-submit">
            Edit my DM Profile
          </div>
        <% end %>
      <% else %>  
        <%= link_to '#' do %>
          <div class="profile-button signup-login-submit">
            Create a DM Profile
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="player-profile-container">
      <% unless @player_profile.nil? %>
        <%= link_to user_player_profiles_path(@user) do %>
          <div class="profile-button signup-login-submit">
            View my Player Profile
          </div>
        <% end %>
        <%= link_to edit_user_dm_profiles_path(@user, @player_profile) do %>
          <div class="profile-button signup-login-submit">
            Edit my Player Profile
          </div>
        <% end %>
      <% else %>
        <%= link_to '#' do %>
          <div class="profile-button signup-login-submit">
            Create a Player Profile
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row-top">
    <!-- chats you are participating in with pictures -->
    <div class="chatroom-preview-container" id="top-chat-container">
      <div class="row-label black-border-text" id="first-row-label">
        Your Chats
      </div>
      <%= render partial: "chat_rooms/chatroom_preview", collection: @conversations, as: :chat %>
    </div>
    <!-- create new chat link -->
    <%= link_to new_chat_room_path do %>
    <div class="chatroom-new-container">
      <%= image_tag "addnewbutton", height: "200", width: "150" %>
    </div>
    <% end %>
  </div>

  <div class="row-middle">
    <!-- new chats, pending chat requests, etc -->
    <div class="chatroom-preview-container" id="new-chats">
      <div class="row-label black-border-text">
        New Chat Requests
      </div>
      <%= render partial: "chat_rooms/chatroom_preview", collection: @new_conversations, as: :chat %>
    </div>
  </div>

  <div class="row-bottom">
    <!-- recommendations -->
    <div class="recommendations-container black-border-text">
      <div class="row-label black-border-text">
        People you may like
      </div>
      <%= render partial: "recommend_preview", collection: @similar_profiles, as: :profile %>
    </div>
  </div>
</div>
