<%= form_for :character_sheet, :url => user_player_profiles_character_sheets_path(@user) do |f| %>
  <% if character_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_sheet.errors.count, "error") %> prohibited this character_sheet from being saved:</h2>

      <ul>
      <% character_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_profile_id %>
    <%= f.number_field :player_profile_id %>
  </div>

  <div class="field">
    <%= f.label :file_path %>
    <%= f.text_field :file_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
