<p id="notice"><%= notice %></p>

<h1>Character Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Player profile</th>
      <th>File path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_sheets.each do |character_sheet| %>
    <% user_id = User.find(PlayerProfile.find(character_sheet.player_profile_id).id)%>
      <tr>
        <td><%= character_sheet.player_profile_id %></td>
        <td><%= character_sheet.file_path %></td>
        <td><%= link_to 'Show', user_player_profiles_character_sheet_path(user_id, character_sheet.id) %></td>
        <td><%= link_to 'Edit', edit_user_player_profiles_character_sheet_path(user_id, character_sheet) %></td>
        <td><%= link_to 'Destroy', user_player_profiles_character_sheet_path(user_id, character_sheet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character Sheet', new_user_player_profiles_character_sheet_path %>
