<p id="notice"><%= notice %></p>

<p>
  <strong>Player profile:</strong>
  <%= @character_sheet.player_profile_id %>
</p>

<p>
  <strong>File path:</strong>
  <%= @character_sheet.file_path %>
</p>

<%= link_to 'Edit', edit_user_player_profiles_character_sheet_url(@character_sheet) %> |
<%= link_to 'Back', user_player_profiles_character_sheets_path %>
