<%= form_for :player_profile, :url => user_player_profiles_path(@user) do |f| %>
  <% if player_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player_profile.errors.count, "error") %> prohibited this player_profile from being saved:</h2>

      <ul>
      <% player_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :experience_level %>
    <%= f.text_field :experience_level %>
  </div>

  <div class="field">
    <%= f.label :online_play %>
    <%= f.number_field :online_play %>
  </div>

  <div class="field">
    <%= f.label :homebrew %>
    <%= f.number_field :homebrew %>
  </div>

  <div class="field">
    <%= f.label :original_ruleset %>
    <%= f.number_field :original_ruleset %>
  </div>

  <div class="field">
    <%= f.label :advanced_ruleset %>
    <%= f.number_field :advanced_ruleset %>
  </div>

  <div class="field">
    <%= f.label :pathfinder %>
    <%= f.number_field :pathfinder %>
  </div>

  <div class="field">
    <%= f.label :third %>
    <%= f.number_field :third %>
  </div>

  <div class="field">
    <%= f.label :three_point_five %>
    <%= f.number_field :three_point_five %>
  </div>

  <div class="field">
    <%= f.label :fourth %>
    <%= f.number_field :fourth %>
  </div>

  <div class="field">
    <%= f.label :fifth %>
    <%= f.number_field :fifth %>
  </div>

  <div class="field">
    <%= f.label :original_campaign %>
    <%= f.number_field :original_campaign %>
  </div>

  <div class="field">
    <%= f.label :module %>
    <%= f.number_field :module %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
