<div class="row profile-summary profile-preview">
  <div class="col-md-2">
    <%= image_tag User.find(player_profile.user_id).avatar.url(:thumb) %>
  </div>
  <div class="col-md-3 profile-excerpt">
    <p class="username-preview info-label"><%= User.find(player_profile.user_id).username %></p>
    <br>
    <p class="info-label">Age:</p>
    <p class="info"><%= User.find(player_profile.user_id).age %></p>
    <br>
    <p class="info"><%= translate_experience_level(player_profile.experience_level) %></p>
  </div>
  <div class="col-md-3 profile-excerpt">
    <p class="info-label">Plays:</p>
    <br>
    <p class="info"><%= ruleset_preview(player_profile) %></p>
  </div>
  <div class="button-container col-md-2">
    <%= link_to "More info", user_player_profiles_path(User.find(player_profile.user_id)), class: "show-more-button profile-button" %>
  </div>
  <div class="button-container col-md-2">
    <button class="contact-me-button-small profile-button", id="contact"> Contact  </button>
  </div>
</div>
<!--Message sending modal. Class name is "modall" to avoid bootstrap conficts -->
    <div class="modall" id="msgmodal">
     <span class="close">
       &times;
     </span>
     <div class="contact-popup-container">
       <span class="greeting">
         Send <%= User.find(player_profile.user_id).username %> a message
       </span>
       <section class="msgform">
         <%= render 'messages/message_form' %>
       </section>
     </div>
   </div>
