
##Introduction##
There are lots of ways to play DnD. The following tutorial will help you figure out how you can enjoy the game
<br>
<%= form_for(:player_profile, url: user_player_profiles_path(@user)) do |f| %>
<br>
#Rulesets
<br>
DnD has been around a long time, and people have played with many different versions of the rules.
Here are the major rulesets. Check whichever ones seem interesting to you.
<br>
<div class="field">
  <br>
  The Original edition of Dungeons and Dragons was released in 1974 by Gary Gygax and David Arneson.
  <%= f.label(:original_ruleset)%>
  <%= f.check_box :original_ruleset %>
  <br>
  The Advanced edition of Dungeons and Dragons was released between 1977 and 1979 and codified in three rulebooks:
  <%= f.label :advanced_ruleset %>
  <%= f.check_box :advanced_ruleset %>
  <br>
  3rd Edition was initially released in 2000 as a revision of the Advanced ruleset,
  <%= f.label :third %>
  <%= f.check_box :third %>
  <br>
  Dungeons and Dragons 3.5 edition was a small update to the 3rd edition, which boils down to a few tweaks to spells, monsters, and
  feats.
  <%= f.label :three_point_five %>
  <%= f.check_box :three_point_five %>
  <br>
  Pathfinder was a game released as sort of an expansion to v3 and v3.5 of Dungeons and Dragons. Sometimes called "v3.75", Pathfinder
  expanded on the rules and mechanics of version 3 with some slight changes to mechanics like skills and spells.
  <%= f.label :pathfinder %>
  <%= f.check_box :pathfinder %>
  <br>
  The 4th Edition of Dungeons and Dragons introduced some pretty significant changes to DnD mechanics.
  <%= f.label :fourth %>
  <%= f.check_box :fourth %>
  <br>
  In contrast with 4th edition, skills took a backseat to the main abilities.
  <%= f.label :fifth %>
  <%= f.check_box :fifth %>
  <br>
  Homebrew refers to the various "house" rules that players use. With such a creative game, players and DMs modify rules for optimal enjoyment. Choose this for a more flexible game experience.
  <%= f.label :homebrew %>
  <%= f.check_box :homebrew %>
  </div>
  <br>
  Campaign Types
  <br>
  There are two main different types of campaign, Modules and original campaigns.
  Playing a module means playing a pre-written campaign out of a book. An original campaign is one written or adapted by your DM.
  Both can be fun experiences, though playing a module tends to mean a stricter adherence to the official ruleset for which the module was designed.
  <div class="field">
    <%=f.label :original_campaign %>
    <%= f.check_box :original_campaign %>
    <br>
    <%= f.label :module %>
    <%= f.check_box :module %>
  </div>

  <br>
  Bio
  <br>
  This section is for you to describe yourself as a player. Eventually, after you've played a few sessions, you will write about what you like and don't like in a campaign, dm, and fellow adventurers.
  For now, write what kind of experience you are looking for and why you are interested in trying DnD.
  <div class="field">j
    <%= f.label :bio %>
    <%= f.text_area :bio%>
  </div>

  Max Distance
  <br>
  Last but not least, there are two ways to play a session of DnD, in person and online.
  Online play allows you to play with people from all over the world using technology.
  If you want to find people to play with in person, though, they have to be nearby.
  <div class="field">
    <%= f.label "Max distance you are willing to travel (in miles)"%>
    <%= f.number_field :max_distance %>
  </div>
  <div class = "field">
    <%= f.label "Play with users online?" %>
    <%= f.check_box :online_play %>
  <div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
