<p id="notice"><%= notice %></p>

<h1>Player Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Bio</th>
      <th>Exp level</th>
      <th>Ruleset1</th>
      <th>Ruleset2</th>
      <th>Ruleset3</th>
      <th>Ruleset4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_profiles.each do |player_profile| %>
      <tr>
        <td><%= player_profile.bio %></td>
        <td><%= player_profile.exp_level %></td>
        <td><%= player_profile.ruleset1 %></td>
        <td><%= player_profile.ruleset2 %></td>
        <td><%= player_profile.ruleset3 %></td>
        <td><%= player_profile.ruleset4 %></td>
        <td><%= link_to 'Show', player_profile %></td>
        <td><%= link_to 'Edit', edit_player_profile_path(player_profile) %></td>
        <td><%= link_to 'Destroy', player_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player Profile', new_player_profile_path %>
