<div id="notice"><%= notice %></div>
<div class="profile-wrapper container-fluid">
  <div class="profile-summary row">
    <div class="col-md-2">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <div class="profile-text col-md-7">
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Age:</strong>
        <%= @user.age %>
      </p>

      <p>
        <strong>Experience:</strong>
        <%= translate_experience_level(@player_profile.experience_level) %>
      </p>

      <p>
        <strong>Likes to play:</strong>
        <%= get_ruleset_strings(@player_profile).join(", ") %>
      </p>

      <p>
        <strong><%= translate_online_play(@player_profile) %></strong>
      </p>


    <!--  <% unless logged_in? && (current_user.id == params[:user_id])  %>
        <% #if within_distance(User.find(@player_profile.user_id), current_user) %>
          <p>
            <strong>Distance:</strong>
            <%= find_distance(User.find(@player_profile.id), current_user) %>
          </p>
        <% else %>
          <p>
            <strong>Too far away!</strong>
          </p>
        <%#end %>
      <% end %>-->
    </div>
    <div class="button-container col-md-3">
      <%= button_to "Contact me!", new_user_message_path, class: "contact-me-button", method: :get %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="profile-bio">
      <p>
        <strong>Bio:</strong>
        <%= @player_profile.bio %>
      </p>
    </div>
    </div>
    <div class="col-md-4">
      <div class="more-users-box">
      <p>
        <strong>You may also like:</strong>
      </p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="ending-buttons">
        <%= link_to 'Edit', edit_user_player_profiles_path(@user, @player_profile) %> |
        <%= link_to 'Back', user_path(@user) %>
      </div>
    </div>
  </div>
</div>
