<div id="notice" class="black-border-text"><%= notice %></div>
<div class="profile-wrapper container-fluid">
  <div class="parchment-background">
    <div class="profile-summary profile-info row">
      <div class="col-md-2">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>
      <div class="profile-text col-md-7">
        <p class="info"><%= @user.username %>'s Player Profile</p>

        <br>

        <p class="info-label">Age:</p>
        <p class="info"><%= @user.age %></p>

        <br>

        <p class="info-label">Experience:</p>
        <p class="info"><%= translate_experience_level(@player_profile.experience_level) %></p>

        <br>

        <p class="info-label">Likes to play:</p>
        <p class="info"><%= get_ruleset_strings(@player_profile).join(", ") %></p>

        <br>

        <p class="info-label"><%= translate_online_play(@player_profile) %></p>

        <br>

        <% unless current_user? @user %>
          <% if within_distance(User.find(@player_profile.user_id), current_user) %>
            <p class="info-label">Distance:</p>
            <p class="info"><%= find_distance(User.find(@player_profile.id), current_user) %></p>
          <% else %>
            <p class="info-label">Too far away!</p>
          <% end %>
        <% end %>

      </div>

      <div class="button-container col-md-3">
        <% unless current_user? @user %>
          <button class="contact-me-button centered-button", id="contact"> Contact me! </button>
          <% unless friends?(@user) %>
            <%= link_to user_friendships_path(@user.id), method: :create do %>
              <div class="profile-button signup-login-submit centered-button" id="profile-friends-button">
                Add as friend
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!--Message sending modal. Class name is "modall" to avoid bootstrap conficts -->
        <div class="modall" id="msgmodal">
         <span class="close">
           &times;
         </span>
         <div class="contact-popup-container">
           <span class="greeting">
             Send <%= @user.username %> a message
           </span>
           <section class="msgform">
             <%= render 'messages/message_form' %>
           </section>
         </div>
       </div>
    <div class="row">
      <div class="col-md-8">
        <div class="profile-bio">
          <div class="bio-label">Bio</div>
          <div class="bio-text">
            <%= @player_profile.bio %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="more-users-box">
          <div class="info-label" id="more-users-label">You may also like:</div>
          <div class="container-fluid">
            <%= render partial: "users/recommend_preview", collection: @similar_profiles, as: :profile %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="ending-buttons">
          <% unless current_user? @user %>
            <%= link_to 'Block this User', user_blockings_path(@user.id), class: "profile-button signup-login-submit", id: "block-button", method: :create %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag "show.js" %>
