<p id="notice"><%= notice %></p>

<h1>Dm Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Bio</th>
      <th>Exp level</th>
      <th>Ruleset 1</th>
      <th>Ruleset 2</th>
      <th>Ruleset 3</th>
      <th>Ruleset 4</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dm_profiles.each do |dm_profile| %>
      <tr>
        <td><%= dm_profile.bio %></td>
        <td><%= dm_profile.exp_level %></td>
        <td><%= dm_profile.ruleset1 %></td>
        <td><%= dm_profile.ruleset2 %></td>
        <td><%= dm_profile.ruleset3 %></td>
        <td><%= dm_profile.ruleset4 %></td>
        <td><%= dm_profile.user_id %></td>
        <td><%= link_to 'Show', dm_profile %></td>
        <td><%= link_to 'Edit', edit_dm_profile_path(dm_profile) %></td>
        <td><%= link_to 'Destroy', dm_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dm Profile', new_dm_profile_path %>
