<p id="notice"><%= notice %></p>

<h1>Dm Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bio</th>
      <th>Experience level</th>
      <th>Online play</th>
      <th>Homebrew</th>
      <th>Original ruleset</th>
      <th>Advanced ruleset</th>
      <th>Pathfinder</th>
      <th>Third</th>
      <th>Three point five</th>
      <th>Fourth</th>
      <th>Fifth</th>
      <th>Original campaign</th>
      <th>Module</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dm_profiles.each do |dm_profile| %>
      <tr>
        <td><%= dm_profile.user_id %></td>
        <td><%= dm_profile.bio %></td>
        <td><%= dm_profile.experience_level %></td>
        <td><%= dm_profile.online_play %></td>
        <td><%= dm_profile.homebrew %></td>
        <td><%= dm_profile.original_ruleset %></td>
        <td><%= dm_profile.advanced_ruleset %></td>
        <td><%= dm_profile.pathfinder %></td>
        <td><%= dm_profile.third %></td>
        <td><%= dm_profile.three_point_five %></td>
        <td><%= dm_profile.fourth %></td>
        <td><%= dm_profile.fifth %></td>
        <td><%= dm_profile.original_campaign %></td>
        <td><%= dm_profile.module %></td>
        <td><%= link_to 'Show', user_dm_profile(player_profile.user.id, player_profile.id) %></td>
        <td><%= link_to 'Edit', edit_dm_profile_path(dm_profile) %></td>
        <td><%= link_to 'Destroy', user_dm_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dm Profile', new_user_dm_profile_path %>
