<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @dm_profile.user_id %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @dm_profile.bio %>
</p>

<p>
  <strong>Experience level:</strong>
  <%= @dm_profile.experience_level %>
</p>

<p>
  <strong>Max distance:</strong>
  <%= @dm_profile.max_distance %>
</p>

<p>
  <strong>Online play:</strong>
  <%= @dm_profile.online_play %>
</p>

<p>
  <strong>Homebrew:</strong>
  <%= @dm_profile.homebrew %>
</p>

<p>
  <strong>Original ruleset:</strong>
  <%= @dm_profile.original_ruleset %>
</p>

<p>
  <strong>Advanced ruleset:</strong>
  <%= @dm_profile.advanced_ruleset %>
</p>

<p>
  <strong>Pathfinder:</strong>
  <%= @dm_profile.pathfinder %>
</p>

<p>
  <strong>Third:</strong>
  <%= @dm_profile.third %>
</p>

<p>
  <strong>Three point five:</strong>
  <%= @dm_profile.three_point_five %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @dm_profile.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @dm_profile.fifth %>
</p>

<p>
  <strong>Original campaign:</strong>
  <%= @dm_profile.original_campaign %>
</p>

<p>
  <strong>Module:</strong>
  <%= @dm_profile.module %>
</p>

<%= link_to 'Edit', edit_user_dm_profiles_path(@dm_profile) %> |
<%= link_to 'Back', user_path(@user) %>
