<div id="notice"><%= notice %></div>
<div class="profile-wrapper container-fluid">
  <div class="parchment-background">
    <div class="profile-summary profile-info row">
      <div class="col-md-2">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>
      <div class="profile-text col-md-7">
        <p class="info-label">Username:</p>
        <p class="info"><%= @user.username %></p>

        <br>

        <p class="info-label">Age:</p>
        <p class="info"><%= @user.age %></p>

        <br>

        <p class="info-label">Experience:</p>
        <p class="info"><%= translate_experience_level(@dm_profile.experience_level) %></p>

        <br>

        <p class="info-label">Likes to play:</p>
        <p class="info"><%= get_ruleset_strings(@dm_profile).join(", ") %></p>

        <br>

        <p class="info-label"><%= translate_online_play(@dm_profile) %></p>

        <br>

        <% unless current_user? @user  %>
          <% if within_distance(User.find(@dm_profile.user_id), current_user) %>
            <p class="info-label">Distance:</p>
            <p class="info"><%= find_distance(User.find(@dm_profile.id), current_user) %></p>
          <% else %>
            <p class="info-label">Too far away!</p>
          <% end %>
        <% end %>

      </div>

      <div class="button-container col-md-3">

        <%= button_to "Write to me", new_user_messages_path, class: "contact-me-button", method: :get %>

      </div>

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="profile-bio">
          <p class="bio-label">Bio</p>
          <p class="bio-text"><%= @dm_profile.bio %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="more-users-box info-label">
          You may also like:
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="ending-buttons">
        <%= link_to 'Edit', edit_user_dm_profiles_path(@user, @dm_profile) %> |
        <%= link_to 'Back', user_path(@user) %>
      </div>
    </div>
  </div>
</div>
