<!DOCTYPE html>
<html>
  <head>
    <title>Dicer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="header">
      <span class="left-align">
        <%= link_to "Dicer", home_pages_home_path, class:"header-link white-border-text" %>
        <%= link_to "About Us", home_pages_about_path, class:"header-link white-border-text" %>
        <%= link_to "Contact Us", home_pages_contact_path, class:"header-link white-border-text" %>
        <%= link_to "Resources", home_pages_resources_path, class:"header-link white-border-text" %>
      </span>
      <span class="right-align">
        <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user), class: "header-link" %>
        <%= link_to "Settings", user_settings_path(current_user), class: "header-link" %>
        <%= link_to "Search for Users...", search_pages_search_path, data: { toggle: "modal", target: "#search_modal" }, id: "search", class: "header-link white-border-text" %>
        <%= link_to "Log Out", logout_path, method: "delete", class: "header-link" %>
        <%= link_to chats_helper, chat_rooms_path(current_user), class: "header-link" %>
        <% else %>
          <%= link_to "Log In", login_path, class:"header-link white-border-text" %>
        <% end %>
      </span>
    </div>
    <div><%= yield %></div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'search_pages/search' %>
  </body>
</html>
